<div class="row g-2 justify-content-between">
  <div class="col-4">
    <div class="input-group mb-3">
      <input
        type="text"
        class="form-control"
        placeholder="Search class"
        aria-label="Search class"
      />
      <button type="button" class="btn btn-primary">Search</button>
    </div>
  </div>
  <div class="col-8">
    <button type="button" class="btn btn-primary float-end">New Class</button>
  </div>
</div>
<div class="card">
  <div class="card-body">
    <div class="row row-cols-1 row-cols-md-3 g-4">
      <div class="col" *ngFor="let race of raceList">
        <div class="card text-bg-light">
          <div class="card-body">
            <h5 class="card-title">{{ race.name }}</h5>
            <p class="card-text">
              {{ race.description }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
